@using GeekQuiz.Models
@using System.Security.Claims
@model Question



<h2>Add new questions</h2>


<div class="container">
    @using (Html.BeginForm("AddingQuestions", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {


        <label class="control-label col-sm-2" for="title">Quetion:</label>

            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })

            <div class="row">
                <div class="col-sm-4" style="background-color:lavender; font-size:29px">answer</div>
                <div class="col-sm-2" style="background-color:lavenderblush;font-size:29px">corect</div>
            </div>

            @for (var i = 0; i < 4; i++)
            {
                var x = i + 1;
                <div class="row">

                    <div class="col-sm-2">
                        <h2><span class="label label-primary"> option @x</span></h2> 
                    </div>
                    <div class="col-sm-2">
                      @Html.TextBoxFor(m => m.options[i].Title, new { @class = "form-control",@style="margin-top:20px;" })
                    </div>
                <div class="col-sm-2">
                    
                     @Html.CheckBoxFor(m => m.options[i].IsCorrect, new {  @style = "margin-top:25px;" })
                </div>
                </div>

            }

        <input class="btn btn-success" type="submit" value="Add" />
    }
    <a asp-controller="Home" asp-action="ClassRoom" class="btn btn-block btn-primary" role="button">Start Game</a>

</div>









